<!doctype html>
<html lang="en">
  <head>
     <body style="background-color:#E9F7EF;">

  <link rel='icon' href='https://lh3.googleusercontent.com/proxy/GAzXAp64ZP_N47qNgqK1cn9ylbjAAWaiFLoYFjiZRqUMLmvw7902jSDrZCTD5Fysyf7KKUWu0-m2np7OrXaYkF8uNAL2E3hUG8oGFqdf5lHcrVVvzESSwaJPWf65ogN7CF5p6oCWK2qFxBKM59nCo9qj0Q' type='image/x-icon'/ >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News from  </title>
  </head>
  
  
  <body>

    <div class="container mt-5">
      <h1>Read the news for <%= params["q"] %> </h1>
    <p>
    Location's Latitude and Longitude:  
    <%= 
        results = Geocoder.search(params["q"])
        results.first.coordinates
        @latlong = results.first.coordinates
        
    %>
    </p>
    <p>
    <a class="btn btn-warning" href="https://newsapi.org/v2/top-headlines?q=<%=params["q"] %>&apiKey=b137492ad1b645a0aea1cab9c6055b55" role="button">Click here to see all headline stories.</a>
    </p>
   
    <p>
        In <%= params["q"] %>, it is currently 
        <%=forecast = ForecastIO.forecast(@latlong[0],@latlong[1]).to_hash
        current_temperature = forecast ["currently"]["temperature"] %> 
        degrees and <%= conditions = forecast ["currently"]["summary"]%>.
    </p>
    <p>
    Tomorrow there is a predicted high temperature of 
    <%=
        forecast = ForecastIO.forecast(@latlong[0],@latlong[1]).to_hash
        tomorrow_temperature = forecast ["daily"]["data"][0]["temperatureHigh"] 
    %> 
    degrees and 
    <%= 
    conditions = forecast ["daily"]["data"][0]["summary"]
    %>. 
    <p>
    The day after has a predicted high of      
    <%=
        forecast = ForecastIO.forecast(@latlong[0],@latlong[1]).to_hash
        dayafter_temperature = forecast ["daily"]["data"][1]["temperatureHigh"] 
    %> 
    degrees and 
    <%= 
    conditions = forecast ["daily"]["data"][1]["summary"]
    %>.          
    <p>
    <i>Powered by News API</i>
    </p>
    <p>
        <img src "taco2.png" width = "200">

    </p>
    </div>
    </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>